.blog__grid {
  display: grid;
  grid-template-rows: 3rem auto auto 3rem;
  grid-template-columns: 100vw;
  grid-template-areas:
    "header"
    "content"
    "suggested"
    "footer"
}

@media screen and (min-width: 60em) {
  .blog__grid {
    grid-template-columns: .3fr 1fr .3fr;
    grid-template-rows: 3rem 1fr 3rem;
    grid-template-areas:
      "sidebar header suggested"
      "sidebar content suggested"
      "footer footer footer"
  }
}
